body
{
	background: linear-gradient(rgb(224, 149, 36) 0% , rgb(216, 126, 37) 100%);
	text-align: center;
}

	.login_div1 , .login_div2
	{
		background: rgb(220, 171, 97);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1Name , #player2Name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#wordDisplay
{
	letter-spacing: 5px;
}
#output
{
background: rgb(255, 214, 131);
border-radius: 10px;
border-top: 10px solid #aa8544;
padding: 10px;
float: none;
text-align: left;
}
